.body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: hsl(0, 0%, 81%);
    margin: 0px;
    font-family: "Barlow Semi Condensed", sans-serif;
}

.container{
    display: grid;
    margin: 50px 100px 100px 100px;
    grid-template-rows: 350px;
    background-color: hsl(0, 0%, 81%);
}

.top-grid{
    display: flex;
    margin: 30px;
    
}

.clifford{
    width: 600px;
    height: 330px;
    border-radius: 10px;
    background-color: hsl(263, 55%, 52%);
}

img{
    border-radius: 50px;
    padding-right: 10px;
}

.prof-image{
    display: flex;
    margin: 30px;
    align-items: center;
}


#bold-text{
    margin: 30px;
    font-weight: 900px;
    color: white;
    font-size: 20px;
}

p{
    font-size: 13px;
    padding-left: 10px;
    padding-right: 10px;
}
#grey-text{
    margin: 30px;
}

.walters{
    width: 260px;
    height: 330px;
    margin-left: 20px;
    background-color: hsl(217, 19%, 35%);
    border-radius: 10px;
}

.kira{
    width: 270px;
    height: 690px;
    margin-left: 30px;
    background-color: hsl(0, 0%, 100%);
    border-radius: 10px;
}
.kira #bold-text{
    color: hsl(210, 7%, 38%);
    font-weight: 900;
}

.harmon{
    width: 270px;
    height: 340px;
    background-color: hsl(0, 0%, 100%);
    border-radius: 10px;
}
.harmon #bold-text{
    color: hsl(210, 7%, 38%);
    font-weight: 900;
    font-size: 22px;
}
.abrams{
    width: 590px;
    height: 340px;
    border-radius: 10px;
    margin-left: 20px;
    background-color: hsl(219, 29%, 14%);
}
.lower-grid{
    display: flex;
    margin: 30px;
}

